<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  <div class="flex flexrow gap-1 text-center">
    <!--HP-->
    <div class="flex flex-col items-center p-2 w-24">
      <div>{{localize 'swnr.sheet.hp'}}</div>

      <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md w-24">
        <input
          class="w-8 text-right pl-1.5  bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number" step="1" name="system.health.value" value="{{item.system.health.value}}" data-dtype="Number"
          min="0" /><span>/</span><input
          class="w-8 text-left pr-1.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number" name="system.health.max" value="{{item.system.health.max}}" step="1" min="1"
          data-dtype="Number" />
      </div>
    </div>


    <!-- assetType -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.assetType'}}:
      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
        name="system.assetType">
        {{#select item.system.assetType}}
        <option value="cunning">Cunning</option>
        <option value="force">Force</option>
        <option value="wealth">Wealth</option>
        {{/select}}
      </select>
    </div>

    <!-- rating -->
    <div class="flex-col text-center items-center p-2">
      <div>{{localize 'swnr.sheet.faction.rating'}}</div>

      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" name="system.rating">
        {{#select item.system.rating}}
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        {{/select}}
      </select>
    </div>

    <!--cost -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.item.cost'}}:
      <input type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1" name="system.cost" min="0" data-dtype="Number" value="{{item.system.cost}}" />
    </div>

    <!-- tl -->
    <div class="flex-col text-center items-center p-2">

      <div>{{localize 'swnr.sheet.faction.tl'}} </div>
      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" name="system.tl">
        {{#select item.system.tl}}
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        {{/select}}
      </select>
    </div>

    <!-- Attack Source-->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.attackSource'}}:
      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
        name="system.attackSource">
        {{#select item.system.attackSource}}
        <option value=""></option>
        <option value="cunning">Cunning</option>
        <option value="force">Force</option>
        <option value="wealth">Wealth</option>
        {{/select}}
      </select>
    </div>

    <!-- Attack Target-->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.attackTarget'}}:
      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
        name="system.attackTarget">
        {{#select item.system.attackTarget}}
        <option value=""></option>
        <option value="cunning">Cunning</option>
        <option value="force">Force</option>
        <option value="wealth">Wealth</option>
        {{/select}}
      </select>
    </div>

    <!-- Attack Damage-->
    <div class="flex-col text-center items-center p-2">
      <div>{{localize 'swnr.sheet.faction.attackDamage'}}:</div>
      <input
        class="w-12 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.attackDamage" value="{{item.system.attackDamage}}" />
    </div>

    <!-- counter Damage-->
    <div class="flex-col text-center items-center p-2">
      <div>{{localize 'swnr.sheet.faction.counter'}}:</div>
      <input
        class="w-12 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.counter" value="{{item.system.counter}}" />
    </div>

    <!--income -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.income'}}:
      <input type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1" name="system.income" min="0" data-dtype="Number" value="{{item.system.income}}" />
    </div>

    <!--maintenance -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.maintenance'}}:
      <input type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1" name="system.maintenance" min="0" data-dtype="Number" value="{{item.system.maintenance}}" />
    </div>

    <!-- Base of influence -->
    <div class="flex flexrow items-center">
      <div>{{localize 'swnr.sheet.faction.baseOfInfluence'}}:
      <input type="checkbox" name="system.baseOfInfluence" {{checked item.system.baseOfInfluence}}></div>
    </div>

    <!-- location -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.location'}}:
      <input
        class="w-32 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.location" value="{{item.system.location}}" />
    </div>  

    <!-- note -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.note'}}:
      <input
        class="w-32 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.note" value="{{item.system.note}}" />
    </div>

    <!-- attackSpecial -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.attackSpecial'}}:
      <input
        class="w-32 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.attackSpecial" value="{{item.system.attackSpecial}}" />
    </div>

    <!-- turnRoll -->
    <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.turnRoll'}}:
      <input
        class="w-32 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.turnRoll" value="{{item.system.turnRoll}}" />
    </div>

    <!-- unusable -->
    <div class="flex flexrow items-center">
      <div>{{localize 'swnr.sheet.faction.unusable'}}:
      <input type="checkbox" name="system.unusable" {{checked item.system.unusable}}></div>
    </div>

    <!-- stealthed -->
    <div class="flex flexrow items-center">
      <div>{{localize 'swnr.sheet.faction.stealthed'}}:
      <input type="checkbox" name="system.stealthed" {{checked item.system.stealthed}}></div>
    </div>

    <!-- turnRoll -->
    {{!-- <div class="flex-col text-center items-center p-2">
      {{localize 'swnr.sheet.faction.turnRoll'}}:
      <input
        class="w-32 text-center px-1.5 py-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="system.turnRoll" value="{{system.turnRoll}}" />
    </div> --}}


    
  </div>
</form>
